<div class="container">
  <div class="d-flex flex-column mb-5">
    <div class="">
      <label for="exampleInputEmail1">Enter some text</label>
      <input type="text" (change)="this.onTextchanges($event.target.value)" class="form-control">
      <small>Press Enter to submit</small>
    </div>

    <div *ngIf="running" class="img-section text-align-center">
      <div *ngIf="base64Gif; else loading" class="img-container">
        <img [src]="base64Gif" />
      </div>
      <small>Right click to download</small>
    </div>
    <ng-template #loading>
      Loading...
    </ng-template>
  </div>